.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    width: 300px;
    margin: 80px auto;
    text-align: center;
    color: #023b7e;
}

h1 {
    font-size: 24px;

}

h2 {
    font-size: 18px;
}
body{
    background-color: #8A2BE2;
}
